<html>
    <head>
        <title>Bysykkel-liste</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>

    <body>
        <div class='row'>
            <div class='col l4 offset-l4 s12'>
                <ul class='collection'>
                    {% for name, availability in stations %}
                    <li class='collection-item'>
                        <span class='title'>{{name}}</span>
                        <p>Sykler: {{availability.bikes}}<br />
                        Låser: {{availability.locks}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>
